/* img category section  */


.category-section{
    width: 100%;
    background: rgb(0, 65, 138);
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
}

.category-container{
    overflow: hidden;
    width: 100%;
}

.category-track{
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.category-card{
    flex: 0 0 auto;
    width: 8vw;
}

.category-card img{
    width: 100%;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #555;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.right-arrow:hover{
    background: #ed7575;
}

.arrow-left{
    left: 10px;
    display: none; /* JS se show/hide karna */
}

.arrow-right{
    right: 10px;
}