.container{
    display: grid;
    width:50vw;
    height: 50vh;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.container div{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: white;
}

.div1{
    grid-row: 1/4;
}
.div2{
    grid-column: 2/4;
}
.div6{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}